

.fon {
 
  color:#960a7f
}
.upper{

  margin-top:5% ;
}
.lower{

  margin-top:5% ;

}
.center{

  margin-top:5% ;

}
.embed-responsive-item{
  width: 33%;
 
}
.fon{
 font-style: opensans;
 font-size: 40px;
}
.html{
  background-color:lightgray;
}

#car{

padding-top: 20%;

}
#more{
  display: none;

}
#more2{
  display: none;
  
}
#readMore{
  margin-left: 52%;
  font-size: .9vw;
}
#more3{
  display: none;
  
}
#readMore3{
  margin-left: 52%;
  font-size: .9vw;
}
#more4{
  display: none;
  
}
#readMore4{
  margin-left: 52%;
  font-size: .9vw;
}
#more5{
  display: none;
  
}
#readMore5{
  margin-left: 52%;
  font-size: .9vw;
}
#readMore2{
  margin-left: 52%;
  font-size: .9vw;
}
#more6{
  display: none;
  
}
#readMore6{
  margin-left: 52%;
  font-size: .9vw;
}
#more7{
  display: none;
  
}
#readMore7{
  margin-left: 52%;
  font-size: .9vw;
}
#more8{
  display: none;
  
}
#readMore8{
  margin-left: 52%;
  font-size: .9vw;
}
#more9{
  display: none;
  
}
#readMore9{
  margin-left: 52%;
  font-size: .9vw;
}
#more9{
  display: none;
  
}
#readMore9{
  margin-left: 52%;
  font-size: .9vw;
}
#more10{
  display: none;
  
}
#readMore10{
  margin-left: 52%;
  font-size: .9vw;
}


.video {
  width:20%;
  height:auto;
}



.main{
  display: block;
  margin-top: 2%;
  width: 100%;
  padding:20px;
  background-color: lightgray;
 
  box-shadow: 1px 1px 10px 5px gray;
}

.main img{
  width:50%;
  height:50%;
}

.thumbs{
  display:flex;
  align-items: center;
  justify-content: center;
  
}

.thumbs li{
  width:12%;
  padding: 10px;
  background-color: white;
  margin: 1%;
  box-shadow: 1px 1px 10px 5px gray;
}

.thumbs li img{
  width:100%;
}     

  * {
    box-sizing: border-box;
  }
  
 
  body {
    margin: 0;
    font-family: ;
  }
  
  .header {
    text-align: center;
    padding: 32px;
  }
  
  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 50%;
    height:50%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }
  #images {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.text {
  
  margin-top:1%;
  margin-left: 52%;
  
}

.text1 {
  
  margin-top:-35%;
  margin-left: 52%;
  
}
