
            html, body {
              background-color: #fff;
              color: #636b6f;
              font-family: 'Nunito', sans-serif;
              font-weight: 200;
              height: 100vh;
              margin: 0;
              
              
          }

          .full-height {
              height: 100vh;
          }

          .flex-center {
              align-items: center;
              display: flex;
              justify-content: center;
          }

          .position-ref {
              position: relative;
          }

        

          .links > a {
              color: #636b6f;
              padding: 0 25px;
              font-size: 13px;
              font-weight: 600;
              letter-spacing: .1rem;
              text-decoration: none;
              text-transform: uppercase;
          }

          .m-b-md {
              margin-bottom: 20px;
          }
            
          body {
              margin: 0;
              font-family: Arial, Helvetica, sans-serif;
            }
            
            .top-container {
              background-color: #f1f1f1;
              padding: 30px;
              text-align: center;
            }
            
            .header {
              padding:  16px;
              background:black;
              color:black;
            }
            
            .content {
              padding: 16px;
            }
            
            .sticky {
              position: fixed;
              top: 0;
              width: 100%;
            }
            
            .sticky + .content {
              padding-top: 102px;
      }
      
  

      .container {
        position: relative;
        text-align: center;
        color: white;
      }

    
      .centered {
        position: absolute;
        top: 52%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size:30px;
      }
    
       .img{
         margin-right: 10%;
       }
       .responsive {
        width: 100%;
        height: auto;
      }
      
      div.transbox {
        margin: 30px;
        background-color: #ffffff;
        border: 1px solid black;
        opacity: 0.6;
      }
      
      div.transbox p {
        margin: 5%;
        font-weight: bold;
        color: #000000;
      }
     
      
      .top-left {
        position: absolute;
        top: 32%;
        left: 5%;
        font-size:30px;
      }
      
      .top-right {
        position: absolute;
        top: 32%;
        right: 4%;
        font-size:30px;
      }
      
      .bottom-right {
        position: absolute;
        bottom: 8px;
        right: 4%;
        font-size:30px;

      }
      .bottom-left {
        position: absolute;
        bottom: 8px;
        left: 4%;
        font-size:30px;
      }